<!-- ------------------------------ Banner Header ------------------------------ -->
<table cellspacing="0" cellpadding="0" width="100%" align="center">
 <tr>
  <td align="center">
   <a href="%%=RedirectTo(@url_banner_principal)=%%" target="_blank"><img src="http://image.lar2.mail.hp.com/lib/fe8f157371630c7475/m/19/f36b0e2b-9071-402e-bc34-d2326530692b.jpg" alt="Banner Header Atlas" alias="Banner_Header_Atlas" style="display:block;border:none;"></a>
  </td>
 </tr>
 
</table>
<!-- ------------------------------ /Banner Header ------------------------------ -->