
    
        <table cellpadding="0" cellspacing="0" align="center" width="700">
            


                %%[
                Set @link_tj = Concat("http://www.hp.com.br/loja?utm_source=HPNews&utm_medium=email&utm_content=frt1&utm_campaign=", @utm_campaign)
                Set @link_faleconosco = Concat("http://www.lojahp.com.br/site/Faleconosco.aspx?utm_source=HPNews&utm_medium=email&utm_content=fale_conosco&utm_campaign=", @utm_campaign)
                ]%%
                
                <!-- Footer -->

                <tr>
                    <td>
                        <table cellpadding="0" cellspacing="0" border="0" width="100%">
                            <tr>
                                <td align="center">
                                    <table cellspacing="0" cellpadding="0" border="0">
                                        <tr>
                                           %%[Set @utm_content = "produtos"]%%
                                           <td align="center">
                                            <a href="http://www.lojahp.com.br/?%%=v(@utm_padrao)=%%%%=v(@utm_content)=%%%%=v(@utm_campaign)=%%" target="_blank" alias="Footer_Loja_Online"><img src="http://image.lar2.mail.hp.com/lib/fe8f157371630c7475/m/16/380945ec-8acf-4470-8d06-9f7e27d7dae0.jpg" width="417" height="28" style="display:block;border:none;" alt="Mais produtos na Loja Online"></a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <!-- icones -->
                        <tr>
                            <td align="center" valign="top" style="padding-top: 70px;">
                                <table cellspacing="0" cellpadding="0" border="0">
                                    <tr>
                                       %%[Set @utm_content = "empresas"]%%
                                       <td width="23" style="font-size: 1px;line-height: 1px;"></td>
                                       <td width="82" align="center" valign="top">
                                        <a href="http://www.lojahp.com.br/Empresas/Loja-HP-para-empresas.aspx?%%=v(@utm_padrao)=%%%%=v(@utm_content)=%%%%=v(@utm_campaign)=%%" target="_blank" alias="Menu_Footer_Empresas"><img src="http://image.lar2.mail.hp.com/lib/fe8f157371630c7475/m/16/578ab28b-669e-4eb1-99e0-3865d291172b.jpg" width="82" height="79" style="display:block;border:none;" alt="Empresas"></a>
                                    </td>
                                    %%[Set @utm_content = "notebooks"]%%
                                    <td width="54" style="font-size: 1px;line-height: 1px;"></td>
                                    <td width="82" align="center" valign="top">
                                        <a href="http://www.lojahp.com.br/Informatica/Notebook/?Filtro=C56_C57&%%=v(@utm_padrao)=%%%%=v(@utm_content)=%%%%=v(@utm_campaign)=%%" target="_blank" alias="Menu_Footer_Notebooks"><img src="http://image.lar2.mail.hp.com/lib/fe8f157371630c7475/m/16/aa8bd869-4d03-4431-acbd-ebf2bce280b2.jpg" width="82" height="79" style="display:block;border:none;" alt="Notebooks"></a>
                                    </td>
                                    %%[Set @utm_content = "notebooks-premium"]%%
                                    <td width="56" style="font-size: 1px;line-height: 1px;"></td>
                                    <td width="87" align="center" valign="top">
                                        <a href="http://www.lojahp.com.br/?Filtro=D3410&%%=v(@utm_padrao)=%%%%=v(@utm_content)=%%%%=v(@utm_campaign)=%%" target="_blank" alias="Menu_Footer_Notebooks_Premium"><img src="http://image.lar2.mail.hp.com/lib/fe8f157371630c7475/m/16/a154b086-2a96-4973-ba91-5f91fc34024b.jpg" width="87" height="102" style="display:block;border:none;" alt="Notebooks Premium"></a>
                                    </td>
                                    %%[Set @utm_content = "desktop"]%%
                                    <td width="49" style="font-size: 1px;line-height: 1px;"></td>
                                    <td width="71" align="center" valign="top">
                                        <a href="http://www.lojahp.com.br/Informatica/Computadores/?Filtro=C56_C58&%%=v(@utm_padrao)=%%%%=v(@utm_content)=%%%%=v(@utm_campaign)=%%" target="_blank" alias="Menu_Footer_Desktops"><img src="http://image.lar2.mail.hp.com/lib/fe8f157371630c7475/m/16/935da11c-0370-494d-9c50-f4512126c371.jpg" width="71" height="79" style="display:block;border:none;" alt="Desktop"></a>
                                    </td>
                                    %%[Set @utm_content = "estações-de-trabalho"]%%
                                    <td width="64" style="font-size: 1px;line-height: 1px;"></td>
                                    <td width="90" align="center" valign="top">
                                        <a href="http://www.lojahp.com.br/?gravaBusca=1&strBusca=workstation&Ordenacao=_MaisVendidos&%%=v(@utm_padrao)=%%%%=v(@utm_content)=%%%%=v(@utm_campaign)=%%" target="_blank" alias="Menu_Footer_Estacoes_Trabalho"><img src="http://image.lar2.mail.hp.com/lib/fe8f157371630c7475/m/16/c1cf9682-9fe8-4ef8-9439-ac95c08d3421.jpg" width="90" height="97" style="display:block;border:none;" alt="Estações de trabalho"></a>
                                    </td>
                                    <td width="43" style="font-size: 1px;line-height: 1px;"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="top" style="padding-top: 30px;">
                            <table cellspacing="0" cellpadding="0" border="0">
                                <tr>
                                   %%[Set @utm_content = "cartuchos-toners"]%%
                                   <td width="23" style="font-size: 1px;line-height: 1px;"></td>
                                   <td width="81" align="center" valign="top">
                                    <a href="hhttp://www.lojahp.com.br/Informatica/Suprimentos/?Filtro=C56_C63&%%=v(@utm_padrao)=%%%%=v(@utm_content)=%%%%=v(@utm_campaign)=%%" target="_blank" alias="Menu_Footer_Cartuchos"><img src="http://image.lar2.mail.hp.com/lib/fe8f157371630c7475/m/16/0b7d6ade-f96a-4a45-842e-d86bab6ba617.jpg" width="81" height="103" style="display:block;border:none;" alt="Cartuchos e toners"></a>
                                </td>
                                %%[Set @utm_content = "acessórios"]%%
                                <td width="58" style="font-size: 1px;line-height: 1px;"></td>
                                <td width="84" align="center" valign="top">
                                    <a href="http://www.lojahp.com.br/Informatica/AcessoriosePerifericos/?Filtro=C56_C72&%%=v(@utm_padrao)=%%%%=v(@utm_content)=%%%%=v(@utm_campaign)=%%" target="_blank" alias="Menu_Footer_Acessorios"><img src="http://image.lar2.mail.hp.com/lib/fe8f157371630c7475/m/16/9f761676-aca9-4c22-84ce-7f865091a9fe.jpg" width="84" height="103" style="display:block;border:none;" alt="Acessórios"></a>
                                </td>
                                %%[Set @utm_content = "impressoras-multifuncionais"]%%
                                <td width="34" style="font-size: 1px;line-height: 1px;"></td>
                                <td width="118" align="center" valign="top">
                                    <a href="http://www.lojahp.com.br/?Filtro=D3410&%%=v(@utm_padrao)=%%%%=v(@utm_content)=%%%%=v(@utm_campaign)=%%" target="_blank" alias="Menu_Footer_Impressoras"><img src="http://image.lar2.mail.hp.com/lib/fe8f157371630c7475/m/16/480b6347-b70a-47db-a2d3-7563430897d3.jpg" width="118" height="103" style="display:block;border:none;" alt="Impressoras e Multifuncionais"></a>
                                </td>
                                %%[Set @utm_content = "scanners"]%%
                                <td width="31" style="font-size: 1px;line-height: 1px;"></td>
                                <td width="73" align="center" valign="top">
                                    <a href=" http://www.lojahp.com.br/?Filtro=D3410&amp;%%=v(@utm_padrao)=%%%%=v(@utm_content)=%%%%=v(@utm_campaign)=%%" target="_blank" alias="Menu_Footer_Scanners"><img src="http://image.lar2.mail.hp.com/lib/fe8f157371630c7475/m/16/eba4093f-e92d-4258-8478-b244b562647c.jpg" width="73" height="79" style="display:block;border:none;" alt="Scanners"></a>
                                </td>
                                %%[Set @utm_content = "impressoras-digitais"]%%
                                <td width="32" style="font-size: 1px;line-height: 1px;"></td>
                                <td width="153" align="center" valign="top">
                                    <a href="http://www.lojahp.com.br/?Filtro=D3324&%%=v(@utm_padrao)=%%%%=v(@utm_content)=%%%%=v(@utm_campaign)=%%" target="_blank" alias="Menu_Footer_Impressoras_Grandes"><img src="http://image.lar2.mail.hp.com/lib/fe8f157371630c7475/m/16/e61fea20-63d8-4325-a66c-af32fd3fdd6d.jpg" width="153" height="103" style="display:block;border:none;" alt="Impressoras digitais e grandes formatos"></a>
                                </td>
                                <td width="12" style="font-size: 1px;line-height: 1px;"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!-- /icones -->

                <!-- SPACE -->
                <tr>
                    <td height="60" style="font-size: 1px;line-height: 1px;"></td>
                </tr>
                <!--/ SPACE -->

                <!-- Continue conectado -->
                <tr>
                    <td align="center" valign="top">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td align="center" height="125" style="background-color: #f7f7f7;">
                                    <table cellpadding="0" cellspacing="0" border="0">
                                        <tr>
                                          %%[Set @utm_content = "continue-conectado"]%%
                                          <td width="213" align="center">
                                            <img src="http://image.lar2.mail.hp.com/lib/fe8f157371630c7475/m/16/340aa7ec-eff7-40d1-acdc-614f89190d9f.jpg" width="213" height="27" style="display:block;border:none;" alt="Continue conectado">
                                        </td>
                                        %%[Set @utm_content = "facebook"]%%
                                        <td width="24" style="font-size: 1px;line-height: 1px;"></td>
                                        <td width="63" align="center">
                                            <a href="https://www.facebook.com/HPBrasil?%%=v(@utm_padrao)=%%%%=v(@utm_content)=%%%%=v(@utm_campaign)=%%" target="_blank" alias="Facebook"><img src="http://image.lar2.mail.hp.com/lib/fe8f157371630c7475/m/16/0249a746-b6a3-4ebb-8fc2-220e9a50990d.jpg" width="63" height="63" style="display:block;border:none;" alt="facebook"></a>
                                        </td>
                                        %%[Set @utm_content = "twiiter"]%%
                                        <td width="38" style="font-size: 1px;line-height: 1px;"></td>
                                        <td width="63" align="center">
                                            <a href="https://twitter.com/HPNoticias?%%=v(@utm_padrao)=%%%%=v(@utm_content)=%%%%=v(@utm_campaign)=%%" target="_blank" alias="Twitter"><img src="http://image.lar2.mail.hp.com/lib/fe8f157371630c7475/m/16/f4d57045-0bf4-4c35-bf48-2bcda654dd44.jpg" width="63" height="63" style="display:block;border:none;" alt="twitter"></a>
                                        </td>
                                        %%[Set @utm_content = "youtube"]%%
                                        <td width="38" style="font-size: 1px;line-height: 1px;"></td>
                                        <td width="63" align="center">
                                            <a href="https://www.youtube.com/user/hpbrasil?%%=v(@utm_padrao)=%%%%=v(@utm_content)=%%%%=v(@utm_campaign)=%%" target="_blank" alias="Youtube"><img src="http://image.lar2.mail.hp.com/lib/fe8f157371630c7475/m/16/5c671a1a-e938-4269-976c-aa366d47137f.jpg" width="63" height="63" style="display:block;border:none;" alt="youtube"></a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <!-- / Continue conectado -->

            <!-- SPACE -->
            <tr>
                <td height="50" style="font-size: 1px;line-height: 1px;"></td>
            </tr>
            <!--/ SPACE -->


            <!-- Texto -->
<tr>
    <td align="center" valign="top">
        <table cellspacing="0" cellpadding="0" border="0" width="90%">
            <tr>
                <td align="center" style="font-family:Helvetica, sans-serif; font-size:13px; color:#4a4a4a;text-decoration:none;text-align: justify">
                    

                    <p>
                       Ofertas válidas até %%=v(@dataValidadeFooter)=%% ou enquanto durarem os estoques, exclusivamente para produtos adquiridos na Loja Online HP: <a href="%%=RedirectTo(@link_tj)=%%" title="www.hp.com.br/loja" target="_blank" style="color:#009ce7" alias="TJ_Home">www.hp.com.br/loja</a>.</p> 

                

                       <p>As fotografias aqui exibidas são ilustrativas e certos acessórios podem não estar incluídos. Compaq e o logotipo da HP são marcas registradas da Hewlett-Packard Company. Microsoft e Windows são marcas registradas ou marcas comerciais da Microsoft Corporation nos Estados Unidos e/ou em outros países. ©%%xtyear%% Hewlett-Packard Development Company, L.P. Os produtos anunciados que são beneficiados pela Lei de Informática são os que têm valor de até R$ 4.000,00. Imagens meramente ilustrativas. A HP recomenda a utilização de itens originais e não se responsabiliza por componentes não originais incorporados no equipamento. Oferta sujeita à disponibilidade de estoque. O valor do frete para Suprimentos e Acessórios varia conforme a localidade.</p>
                  

                       <p>Tel.: 4003-8388 – Horário de funcionamento: de segunda a sexta, das 8h à 0h, e sábados, domingos e feriados, das 8h às 20h. Dúvidas? <a href="%%=RedirectTo(@link_faleconosco)=%%" title="Fale Conosco" target="_blank" style="color:#009ce7" alias="TJ_Fale_Conosco"> Fale Conosco</a>.</p>


                       <p>CNPJ: 09358108/0001-25 – Caixa postal exclusiva da loja virtual e envio de correspondências: 19083<br>
                       CEP: 04505-970 São Paulo – SP</p>


                       <p>Caso não deseje mais receber as novidades da Loja Online HP, <a href="%%subscription_center_url%%" title="remova aqui" target="_blank" style="color:#009ce7" alias="unsubscribe">remova aqui</a>.</p>

                   </td>
               </tr>
           </table>
       </td>
   </tr>

   <!-- / Texto -->



        </table>
    </td>
</tr>


<!-- Footer -->



</table>

