<!-- ------------------------------ Banner Header ------------------------------ -->


<table cellspacing="0" cellpadding="0" width="100%">


<tr>
<td align="center">

<a href="%%=RedirectTo(@url_banner_principal)=%%" target="_blank"><img src="http://image.lar2.mail.hp.com/lib/fe8f157371630c7475/m/17/bc45fb0c-b488-40c8-a8d8-bbb9b6016d2a.jpg" alt="Banner Header Navegacao" alias="Banner_Header_Navegacao" style="display:block;border:none;"></a>
</td>
</tr>
</table>


<!-- ------------------------------ /Banner Header ------------------------------ -->