   <!-- Header -->
     <table cellpadding="0" cellspacing="0" width="100%" border="0">
       
      <!-- Snippet -->

      <tr>
        <td>
          <table cellpadding="0" cellspacing="0" width="100%" border="0">
            <tr>
              <td width="470" align="left" valign="middle" style="padding-left: 15px; font-family:Helvetica, sans-serif; font-size:14px; color:#999999; text-decoration: none;">&nbsp;</td>
              <td width="230" align="right" valign="middle" style="padding-right:20px; font-family:Helvetica, sans-serif; font-size:14px; color:#999999;">&nbsp;&nbsp;&nbsp;&nbsp;<a href="%%subscription_center_url%%" target="_blank" style="font-family:Helvetica, sans-serif; font-size:14px; color:#999999;text-decoration: underline;">Desuscribirse</a>
              </td>
            </tr>
          </table>
        </td>
      </tr>

      <!--/ Snippet -->


      <tr>
        <td align="center" valign="middle" height="80" style="background-color: #079cdd;text-decoration:none;">
          <table cellpadding="0" cellspacing="0" border="0">
            <tr>
             %%[Set @utm_content = "home"]%%
             <td align="center">
              <a href="https://www.hponline.com.ar/?%%=v(@utm_padrao)=%%%%=v(@utm_content)=%%%%=v(@utm_campaign)=%%" target="_blank" alias="Menu_Header_Home"><img src="http://image.lar2.mail.hp.com/lib/fe8f157371630c7475/m/16/a5c82933-5a8e-4aed-999d-7ec62112bc2d.jpg" width="56" height="80" alt="HP" style="display:block;border:none;"></a>
            </td>
            %%[Set @utm_content = "impresoras"]%%
            <td width="35" style="font-size: 1px; line-height: 1px;"></td>
            <td align="center" height="30">
              <a href="https://www.hponline.com.ar/c/impresoras?%%=v(@utm_padrao)=%%%%=v(@utm_content)=%%%%=v(@utm_campaign)=%%" target="_blank" style="display:block; font-family:Arial, sans-serif; font-size: 21px; color:#FFFFFF;text-decoration:none;" alias="Menu_Header_Impressoras">Impresoras</a>
            </td>
            %%[Set @utm_content = "notebooks"]%%
            <td width="30" style="font-size: 1px; line-height: 1px;"></td>
            <td align="center" height="30">
              <a href="https://www.hponline.com.ar/c/notebooks?%%=v(@utm_padrao)=%%%%=v(@utm_content)=%%%%=v(@utm_campaign)=%%" target="_blank" style="display:block; font-family:Arial, sans-serif; font-size: 21px; color:#FFFFFF;text-decoration:none;" alias="Menu_Header_Notebooks">Notebooks</a>
            </td>
            %%[Set @utm_content = "cartuchos"]%%
            <td width="30" style="font-size: 1px; line-height: 1px;"></td>
            <td align="center" height="30">
              <a href="https://www.hponline.com.ar/c/cartuchos-y-toners?%%=v(@utm_padrao)=%%%%=v(@utm_content)=%%%%=v(@utm_campaign)=%%" target="_blank" style="display:block; font-family:Arial, sans-serif; font-size: 21px; color:#FFFFFF;text-decoration:none;" alias="Menu_Header_Cartuchos">Cartuchos</a>
            </td>
            %%[Set @utm_content = "desktops"]%%
            <td width="30" style="font-size: 1px; line-height: 1px;"></td>
            <td align="center" height="30">
              <a href="https://www.hponline.com.ar/c/desktops?%%=v(@utm_padrao)=%%%%=v(@utm_content)=%%%%=v(@utm_campaign)=%%" target="_blank" style="display:block; font-family:Arial, sans-serif; font-size: 21px; color:#FFFFFF;text-decoration:none;" alias="Menu_Header_Computadoras">Desktops</a>
            </td>
          </tr>
        </table>                                    
      </td>
    </tr>
  </table>


<!--/ Header -->