%%[

Set @SubscriberKey = [SubscriberKey]

set @dataenvio = format(now(),"MMddyyyy")

set @dataValidadeFooter = format(now(),"dd/MM/yyyy")

set @jobid = jobid


set @camp = concat(@country,"_Reabastecimento_")
set @campanha = concat(@camp, @dataenvio)
set @utm_sfmc = concat(@jobid, "_" , @SubscriberKey)
Set @botao = "Comprar ahora"
Set @utm_padrao = "utm_source=HPOnline&utm_medium=email&utm_content="

if @country == "BR" then 
 Set @url_banner = "https://www.lojahp.com.br/Informatica/Suprimentos/?Filtro=C56_C63"
 Set @botao = "Comprar agora"
 Set @utm_padrao = "utm_source=HPNews&utm_medium=email&utm_content="
elseif @country == "AR" then
 Set @url_banner = "https://www.hponline.com.ar/c/cartuchos-y-toners"
elseif @country == "CL" then
 Set @url_banner = "https://www.hponline.cl/c/cartuchos-y-toners"
elseif @country == "CO" then
 Set @url_banner = "https://www.hponline.com.co/c/cartuchos-y-toners"
elseif @country == "MX" then
 Set @url_banner = "https://www.hponline.com.mx/c/cartuchos-y-toners"
elseif @country == "PE" then
 Set @url_banner = "https://www.hponlinestore.com.pe/c/cartuchos-y-toners"
endif
Set @utm_campaign = Concat("&utm_campaign=", @campanha, "&utm_sfmc=", @utm_sfmc)


set @dex = concat("DEX_", @country,"_RESTOCK_TONER_CARTRIDGE")
if indexof(@url_banner,'?') > 0 then
  set @identificador = '&'
else
  set @identificador = '?'
endif
Set @url_banner_principal= concat(@url_banner, @identificador, @utm_padrao, "banner_header_reabastecimento", @utm_campaign)


set @array = LookupOrderedRows("DEX_CUPOM_BEHAVIOR",1, "DATA_INICIO ASC","PAIS", @country, "REGUA", @regua)
 
 if not empty(@array) then
 
 set @numrows = RowCount(@array)
 
 set @dtatual = FormatDate(now(), "MM/dd/yyyy")
 
  FOR @i = 1 TO @numrows DO
  set @campos = row(@array, @i)
  set @data_inicio = FormatDate(field(@campos, "DATA_INICIO"), "MM/dd/yyyy")
  set @data_fim = FormatDate(field(@campos, "DATA_FIM"), "MM/dd/yyyy")   
  if (@dtatual >= @data_inicio AND @data_fim >= @dtatual) then
     set @texto_1 = field(@campos, "TEXTO_1")
     set @texto_2 = field(@campos, "TEXTO_2")
     set @cupom = field(@campos, "CUPOM")
     set @avisos_legais = field(@campos, "AVISO")
  set @regua = field(@campos, "REGUA")
  set @cuotas = field(@campos, "CUOTAS")
     set @data_inicio_2 = FormatDate(field(@campos, "DATA_INICIO"), "MM/dd/yyyy")
     set @data_fim_2 = FormatDate(field(@campos, "DATA_FIM"), "MM/dd/yyyy")  
  endif  

 NEXT @i
  endif

]%%