<!-- ------------------------------ Banner Header ------------------------------ -->


<table cellspacing="0" cellpadding="0" width="100%">


<tr>
<td align="center">

<a href="%%=RedirectTo(@url_banner_principal)=%%" target="_blank"><img src="http://image.lar2.mail.hp.com/lib/fe8f157371630c7475/m/17/815f0197-a6fd-4e5e-b954-805542e3f0b0.png" alt="Banner Header Abandono" alias="Banner_Header_Abandono" style="display:block;border:none;"></a>
</td>
</tr>
</table>


<!-- ------------------------------ /Banner Header ------------------------------ -->