<!-- ------------------------------ Banner Header ------------------------------ -->
<table cellspacing="0" cellpadding="0" width="100%" align="center">
 <tr>
  <td align="center">
   <a href="%%=RedirectTo(@url_banner_principal)=%%" target="_blank"><img src="http://image.lar2.mail.hp.com/lib/fe8f157371630c7475/m/19/864f05c6-cb7d-4e5f-8dc5-420f374ae01e.jpg" alt="Banner Header Incentivo" alias="Banner_Header_Incentivo" style="display:block;border:none;"></a>
  </td>
 </tr>
</table>
<!-- ------------------------------ /Banner Header ------------------------------ -->