<!-- ------------------------------ Banner Header ------------------------------ -->
<table cellspacing="0" cellpadding="0" width="100%" align="center">
 <tr>
  <td align="center">
   <a href="%%=RedirectTo(@url_banner_principal)=%%" target="_blank"><img src="http://image.lar2.mail.hp.com/lib/fe8f157371630c7475/m/20/d64dadca-0ed7-4b01-a607-31df7579b461.jpg" alt="Banner Header WelcomeCKM" alias="Banner_Header_WelcomeCKM" style="display:block;border:none;"></a>
  </td>
 </tr>
</table>
<!-- ------------------------------ /Banner Header ------------------------------ -->