<table cellpadding="0" cellspacing="0" align="center" width="700">
 
  <tr>
   <td>
                        %%[
                        Set @link_tj = Concat("https://www.hponline.com.ar/?utm_source=HPOnline&utm_medium=email&utm_content=ftr-tj",@utm_campaign)
                        Set @link_tj_promo = Concat("https://www.hponline.com.ar/sp/promociones?utm_source=HPOnline&utm_medium=email&utm_content=ftr-tj-promo",@utm_campaign)
                        ]%%

                        <!-- Footer -->

                        <table cellpadding="0" cellspacing="0" border="0" width="100%">
                            <tr>
                                <td align="center">
                                    <table cellspacing="0" cellpadding="0" border="0">
                                        <tr>
                                           %%[Set @utm_content = "productos"]%%
                                           <td align="center">
                                            <a href="https://www.hponline.com.ar/?%%=v(@utm_padrao)=%%%%=v(@utm_content)=%%%%=v(@utm_campaign)=%%" target="_blank" alias="Footer_Loja_Online"><img src="http://image.lar2.mail.hp.com/lib/fe8f157371630c7475/m/16/02f6c1cf-f776-4e8a-ad24-3d890416c60e.jpg" width="364" height="28" style="display:block;border:none;" alt="Más productos en HP Online"></a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <!-- icones -->
                        <tr>
                            <td align="center" valign="top" style="padding-top: 70px;">
                                <table cellspacing="0" cellpadding="0" border="0">
                                    <tr>
                                       %%[Set @utm_content = "empresas"]%%
                                       <td width="26" style="font-size: 1px;line-height: 1px;"></td>
                                       <td width="77" align="center" valign="top">
                                        <a href="https://www.hponline.com.ar/c/notebooks/notebooks-para-el-trabajo?%%=v(@utm_padrao)=%%%%=v(@utm_content)=%%%%=v(@utm_campaign)=%%" target="_blank" alias="Menu_Footer_Empresas"><img src="http://image.lar2.mail.hp.com/lib/fe8f157371630c7475/m/16/e774567a-9e94-49c0-ac04-7defbb86a284.jpg" width="77" height="80" style="display:block;border:none;" alt="Empresas"></a>
                                    </td>
                                    %%[Set @utm_content = "laptops"]%%
                                    <td width="64" style="font-size: 1px;line-height: 1px;"></td>
                                    <td width="67" align="center" valign="top">
                                        <a href="https://www.hponline.com.ar/c/notebooks?%%=v(@utm_padrao)=%%%%=v(@utm_content)=%%%%=v(@utm_campaign)=%%" target="_blank" alias="Menu_Footer_Laptops"><img src="http://image.lar2.mail.hp.com/lib/fe8f157371630c7475/m/16/aa8bd869-4d03-4431-acbd-ebf2bce280b2.jpg" width="82" height="79" style="display:block;border:none;" alt="Laptops"></a>
                                    </td>
                                    %%[Set @utm_content = "all-in-ones"]%%
                                    <td width="62" style="font-size: 1px;line-height: 1px;"></td>
                                    <td width="87" align="center" valign="top">
                                        <a href="https://www.hponline.com.ar/c/desktops/desktops-all-in-one?%%=v(@utm_padrao)=%%%%=v(@utm_content)=%%%%=v(@utm_campaign)=%%" target="_blank" alias="Menu_Footer_All_In_One"><img src="http://image.lar2.mail.hp.com/lib/fe8f157371630c7475/m/16/ece931a2-07ae-4144-8ab3-16321ae6385a.jpg" width="87" height="80" style="display:block;border:none;" alt="All-in-Ones"></a>
                                    </td>
                                    %%[Set @utm_content = "monitores"]%%
                                    <td width="48" style="font-size: 1px;line-height: 1px;"></td>
                                    <td width="76" align="center" valign="top">
                                        <a href="https://www.hponline.com.ar/c/monitores?%%=v(@utm_padrao)=%%%%=v(@utm_content)=%%%%=v(@utm_campaign)=%%" target="_blank" alias="Menu_Footer_Monitores"><img src="http://image.lar2.mail.hp.com/lib/fe8f157371630c7475/m/16/abd15be3-b95d-4005-bc37-d6d0e62c3f43.jpg" width="76" height="80" style="display:block;border:none;" alt="Monitores"></a>
                                    </td>
                                    %%[Set @utm_content = "workstations"]%%
                                    <td width="56" style="font-size: 1px;line-height: 1px;"></td>
                                    <td width="101" align="center" valign="top">
                                        <a href="https://www.hponline.com.ar/c/desktops/workstations?%%=v(@utm_padrao)=%%%%=v(@utm_content)=%%%%=v(@utm_campaign)=%%" target="_blank" alias="Menu_Footer_Workstation"><img src="http://image.lar2.mail.hp.com/lib/fe8f157371630c7475/m/16/cbcf6063-4a7e-4849-8b32-9d167a0e03d0.jpg" width="101" height="80" style="display:block;border:none;" alt="Workstations"></a>
                                    </td>
                                    <td width="36" style="font-size: 1px;line-height: 1px;"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="top" style="padding-top: 30px;">
                            <table cellspacing="0" cellpadding="0" border="0">
                                <tr>
                                    %%[Set @utm_content = "cartuchos"]%%
                                    <td width="28" style="font-size: 1px;line-height: 1px;"></td>
                                    <td width="77" align="center" valign="top">
                                        <a href="https://www.hponline.com.ar/c/cartuchos-y-toners?%%=v(@utm_padrao)=%%%%=v(@utm_content)=%%%%=v(@utm_campaign)=%%" target="_blank" alias="Menu_Footer_Cartuchos"><img src="http://image.lar2.mail.hp.com/lib/fe8f157371630c7475/m/16/1e5f3bd9-292c-4558-a779-d8c58087103f.jpg" width="77" height="105" style="display:block;border:none;" alt="Cartuchos y toners"></a>
                                    </td>
                                    %%[Set @utm_content = "acessorios"]%%
                                    <td width="54" style="font-size: 1px;line-height: 1px;"></td>
                                    <td width="86" align="center" valign="top">
                                        <a href="https://www.hponline.com.ar/c/accesorios?%%=v(@utm_padrao)=%%%%=v(@utm_content)=%%%%=v(@utm_campaign)=%%" target="_blank" alias="Menu_Footer_Accesorios"><img src="http://image.lar2.mail.hp.com/lib/fe8f157371630c7475/m/16/d0c96dec-20ff-428c-92c5-270f64b8d473.jpg" width="86" height="105" style="display:block;border:none;" alt="Accesorios"></a>
                                    </td>
                                    %%[Set @utm_content = "impressoras-all-in-ones"]%%
                                    <td width="44" style="font-size: 1px;line-height: 1px;"></td>
                                    <td width="102" align="center" valign="top">
                                        <a href="https://www.hponline.com.ar/c/impresoras/multifuncion-y-todo-en-uno?%%=v(@utm_padrao)=%%%%=v(@utm_content)=%%%%=v(@utm_campaign)=%%" target="_blank" alias="Menu_Footer_Impressoras"><img src="http://image.lar2.mail.hp.com/lib/fe8f157371630c7475/m/16/9daeee92-1930-46cc-9cbc-ef1aa7260852.jpg" width="102" height="105" style="display:block;border:none;" alt="Impressoras e All-in-ones"></a>
                                    </td>
                                    %%[Set @utm_content = "escáneres"]%%
                                    <td width="40" style="font-size: 1px;line-height: 1px;"></td>
                                    <td width="76" align="center" valign="top">
                                        <a href="https://www.hponline.com.ar/c/impresoras?q=scanner&%%=v(@utm_padrao)=%%%%=v(@utm_content)=%%%%=v(@utm_campaign)=%%" target="_blank" alias="Menu_Footer_Escaneres"><img src="http://image.lar2.mail.hp.com/lib/fe8f157371630c7475/m/16/06d17c93-1966-4ccc-84c9-b45a779a51d2.jpg" width="76" height="105" style="display:block;border:none;" alt="Escáneres"></a>
                                    </td>
                                    %%[Set @utm_content = "prensas-digitales"]%%
                                    <td width="25" style="font-size: 1px;line-height: 1px;"></td>
                                    <td width="158" align="center" valign="top">
                                        <a href="https://www.hponline.com.ar/c/impresoras/plotters?%%=v(@utm_padrao)=%%%%=v(@utm_content)=%%%%=v(@utm_campaign)=%%" target="_blank" alias="Menu_Footer_Prensas_Digitais"><img src="http://image.lar2.mail.hp.com/lib/fe8f157371630c7475/m/16/1660bcfd-54e4-46a4-8715-dfbf9cf4d5f8.jpg" width="158" height="105" style="display:block;border:none;" alt="Prensas digitales y de formato anchos"></a>
                                    </td>
                                    <td width="8" style="font-size: 1px;line-height: 1px;"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <!-- /icones -->

                    <!-- SPACE -->
                    <tr>
                        <td height="60" style="font-size: 1px;line-height: 1px;"></td>
                    </tr>
                    <!--/ SPACE -->

                    <!-- Continue conectado -->
                    <tr>
                        <td align="center" valign="top">
                            <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                <tr>
                                    <td align="center" height="125" style="background-color: #f7f7f7;">
                                        <table cellpadding="0" cellspacing="0" border="0">
                                            <tr>
                                              %%[Set @utm_content = "permanecé-conectado"]%%
                                              <td width="234" align="center">
                                                <img src="http://image.lar2.mail.hp.com/lib/fe8f157371630c7475/m/16/10139338-0106-471a-a326-971b5bedf508.jpg" width="234" height="27" style="display:block;border:none;" alt="Permanecé conectado">
                                            </td>
                                            %%[Set @utm_content = "facebook"]%%
                                            <td width="24" style="font-size: 1px;line-height: 1px;"></td>
                                            <td width="63" align="center">
                                                <a href="https://www.facebook.com/HPArgentina/?%%=v(@utm_padrao)=%%%%=v(@utm_content)=%%%%=v(@utm_campaign)=%%" target="_blank" alias="Facebook"><img src="http://image.lar2.mail.hp.com/lib/fe8f157371630c7475/m/16/a8496465-1572-4b93-abfa-5c5b0d21b40d.jpg" width="63" height="63" style="display:block;border:none;" alt="facebook"></a>
                                            </td>
                                            %%[Set @utm_content = "twitter"]%%
                                            <td width="38" style="font-size: 1px;line-height: 1px;"></td>
                                            <td width="63" align="center">
                                                <a href="https://twitter.com/HPArgentina?%%=v(@utm_padrao)=%%%%=v(@utm_content)=%%%%=v(@utm_campaign)=%%" target="_blank" alias="Twitter"><img src="http://image.lar2.mail.hp.com/lib/fe8f157371630c7475/m/16/87687c9c-c181-40f9-85a2-392c54ab879f.jpg" width="63" height="63" style="display:block;border:none;" alt="twitter"></a>
                                            </td>
                                            %%[Set @utm_content = "youtube"]%%
                                            <td width="38" style="font-size: 1px;line-height: 1px;"></td>
                                            <td width="63" align="center">
                                                <a href="https://www.youtube.com/user/HPAmericaLatina?%%=v(@utm_padrao)=%%%%=v(@utm_content)=%%%%=v(@utm_campaign)=%%" target="_blank" alias="Youtube"><img src="http://image.lar2.mail.hp.com/lib/fe8f157371630c7475/m/16/16c97c63-b342-4779-8e4f-98642ee73a95.jpg" width="63" height="63" style="display:block;border:none;" alt="youtube"></a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!-- / Continue conectado -->

                <!-- SPACE -->
                <tr>
                    <td height="50" style="font-size: 1px;line-height: 1px;"></td>
                </tr>
                <!--/ SPACE -->


                <!-- Texto -->
                <tr>
                    <td align="center" valign="top">
                        <table cellspacing="0" cellpadding="0" border="0" width="90%">
                            <tr>
                                <td align="center" style="font-family:Helvetica, sans-serif; font-size:13px; color:#4a4a4a;text-decoration: none;text-align:justify;">
        
        %%[if empty(@muda_dt_validade) then]%%

                                    <p>Ofertas válidas hasta %%=v(@dataValidadeFooter)=%% o hasta agotar existencias publicadas en la página de cada producto.</p>
         
         %%[else]%%
         
         <p> %%=v(@muda_dt_validade)=%% </p>
         
         %%[endif]%%
         
         
         <p> %%=v(@tj_promocional)=%% </p>

                                        <p>Conocé todas las condiciones y otras promociones bancarias en <a href="%%=RedirectTo(@link_tj_promo)=%%" target="_blank" style="color:#009ce7" alias="TJ_Promociones">www.hponline.com.ar/sp/promociones</a>. Cada oferta depende exclusivamente del banco que emite la tarjeta y no es responsabilidad de HP Inc.</p>


                                        <p>Ofertas aplican a compras en el sitio web <a href="%%=RedirectTo(@link_tj)=%%" target="_blank" style="color:#009ce7" alias="TJ_Home">www.hponline.com.ar</a> o a través del Call Center: 0800-333-1058 Opción 1-1. Todas las imágenes son a modo ilustrativo. Ofertas no acumulables con otras promociones. Aplican restricciones. Todos los derechos reservados ©%%xtyear%% HP Inc.</p>

                                        <p>En caso de que no más le interese recibir novedades de HP Online, <a href="%%subscription_center_url%%" title="remova aqui" target="_blank" style="color:#009ce7" alias="Unsubscribe">desuscríbase aquí</a>.</p>

                                    </td>
         
         %%[else]%%

                                                <td align="center" style="font-family:Helvetica, sans-serif; font-size:13px; color:#4a4a4a;text-decoration: none;"><p>%%=v(@muda_texto_juridico_footer)=%%</p></td>

                                                %%[endif]%%
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <!-- / Texto -->


                </table>


                <!-- Footer -->


            </td>
        </tr>


    
</table>