<!-- ------------------------------ Banner Header ------------------------------ -->


<table cellspacing="0" cellpadding="0" width="100%">


<tr>
<td align="center">

<a href="%%=RedirectTo(@url_banner_principal)=%%" target="_blank"><img src="http://image.lar2.mail.hp.com/lib/fe8f157371630c7475/m/17/f410f521-c677-4d56-8c03-d46b08f7cc69.png" alt="Banner Header Abandono" alias="Banner_Header_Abandono" style="display:block;border:none;"></a>
</td>
</tr>
</table>


<!-- ------------------------------ /Banner Header ------------------------------ -->