<!-- ------------------------------ Banner Header ------------------------------ -->
<table cellspacing="0" cellpadding="0" width="100%" align="center">
 <tr>
  <td align="center">
   <a href="%%=RedirectTo(@url_banner_principal)=%%" target="_blank"><img src="http://image.lar2.mail.hp.com/lib/fe8f157371630c7475/m/19/e7b36fa4-6127-45c3-be03-15edb0f158d3.jpg" alt="Banner Header Reativacao" alias="Banner_Header_Reativacao" style="display:block;border:none;"></a>
  </td>
 </tr>
</table>
<!-- ------------------------------ /Banner Header ------------------------------ -->