<!-- ------------------------------ Banner Header ------------------------------ -->
<table cellspacing="0" cellpadding="0" width="100%" align="center">
 <tr>
  <td align="center">
   <a href="%%=RedirectTo(@url_banner_principal)=%%" target="_blank"><img src="http://image.lar2.mail.hp.com/lib/fe8f157371630c7475/m/18/134715f6-8a62-4130-ba91-12abea83a6d1.jpg" alt="Banner Header Atlas" alias="Banner_Header_Atlas" style="display:block;border:none;"></a>
  </td>
 </tr>
 </tr>
</table>
<!-- ------------------------------ /Banner Header ------------------------------ -->